<body>
    <div class="polaroid">
        <h2>Name: {{userDetails.first_name}} {{userDetails.last_name}}</h2>
        <img src= {{userDetails.avatar}} alt={{userDetails.avatar}} style="width:60% height=40%" >
        <div class="container">
            <p>Id: {{userDetails.id}}</p>
            <p>Email: {{userDetails.email}}</p>
        </div>
    </div>
</body>